/******************************************************************************
    SERVER-SIDE FONT

    I want to use Linux Libertine and it's not on Google Fonts so here we are.

    EOT for Internet Explorer.
    SVG for Safari.
    WOFF/TTF for the Firefox, Chrome, etc.
******************************************************************************/

@font-face {
    font-family: Linux Libertine;
    src: local('Linux Libertine'),
         url('./fonts/LinLibertine_Rah.eot') format('embedded-opentype'),
         url('./fonts/LinLibertine_R.woff') format('woff'),
         url('./fonts/LinLibertine_Rah.ttf') format('truetype'),
         url('./fonts/LinLibertine_R.svg#Linux_Libertine') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Linux Libertine;
    src: local('Linux Libertine Italic'),
         url('./fonts/LinLibertine_RIah.eot') format('embedded-opentype'),
         url('./fonts/LinLibertine_RI.woff') format('woff'),
         url('./fonts/LinLibertine_RIah.ttf') format('truetype'),
         url('./fonts/LinLibertine_RI.svg#Linux_Libertine') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: Linux Libertine;
    src: local('Linux Libertine Bold'),
         url('./fonts/LinLibertine_RBah.eot') format('embedded-opentype'),
         url('./fonts/LinLibertine_RB.woff') format('woff'),
         url('./fonts/LinLibertine_RBah.ttf') format('truetype'),
         url('./fonts/LinLibertine_RB.svg#Linux_Libertine') format('svg');
    font-weight: bold;
    font-style: normal;
}

/******************************************************************************
    GENERAL STYLING
******************************************************************************/

body {
    background-image: url('seamless_paper_texture.png');
    font: 13pt/130% Linux Libertine, serif;
}

#app-container {
    /* All site content is contained within this div. This helps us control the
     * site width. We center it on the screen because it looks better. */
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

a:link, a:visited, a:active {
    color: #000000;
}

a:hover {
    color: #999999;
}

h2 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
}

hr {
    border: none;
    border-top: 1px dotted black;
}

/******************************************************************************
    HEADER STYLING
******************************************************************************/

#name {
    font: bold 225%/130% Linux Libertine, serif;
    padding-top: 1em;
    margin-bottom: 0.1em;
    text-align: center;
}
#subheader {
    font: italic 125%/130% Linux Libertine, serif;
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 2em;
}


#social {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
#social img {
    vertical-align: text-top;
}


#games table {
    width: 100%;
}
#games td {
    vertical-align: top;
}
#games h3, #other h3 {
    margin-top: 0em;
    margin-left: 0.25em;
}
#games p, #other p {
    margin-bottom: 0em;
    margin-left: 0.25em;
}


#sheet-music table, #ebooks table {
    width: 100%;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
    border-collapse: collapse;
}
#sheet-music th, #ebooks th {
    text-align: left;
    border-bottom: 1px dotted black;
}
#sheet-music tr:hover, #ebooks tr:hover {
    background: rgba( 0, 0, 0, 0.1 );
}
